{% extends 'base.html' %}

{% block content %}
     
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4 w-50 mx-auto">
        <div class="card-body p-4">

            <h3 class="mb-4 text-primary">
               Update Profile
            </h3>
     <form method="POST"  >

          <div class="row g-3">
               <!-- name -->
               <div class="col-md-12">
                    <label class="form-label fw-semibold">
                         Name
                    </label>
                    <input type="text"
                           name="name"
                           class="form-control "
                           value="{{ curr_student.name }}"
                           required>
               </div>
               <!-- Roll Number -->
               <div class="col-md-12">
                    <label class="form-label fw-semibold">
                         Roll number
                    </label>
                    <input type="text"
                           name="roll_no"
                           class="form-control"
                           value="{{ curr_student.roll_no }}"
                           required>
               </div>

               <!-- Branch -->
               <div class="col-md-12">
                    <label class="form-label fw-semibold">
                         Branch
                    </label>
                    <input type="text"
                           name="branch"
                           class="form-control"
                           value="{{ curr_student.branch }}"
                           required>
               </div>

               <!-- CGPA -->
               <div class="col-md-12">
                    <label class="form-label fw-semibold">
                         CGPA
                    </label>
                    <input type="text"
                           name="cgpa"
                           class="form-control"
                           value="{{ curr_student.cgpa }}"
                           required>
               </div>

               <!-- Phone -->
               <div class="col-md-12">
                    <label class="form-label fw-semibold">
                         Phone
                    </label>
                    <input type="text"
                           name="phone"
                           class="form-control"
                           value="{{ curr_student.phone }}"
                           required>
               </div>

          
               <div class="col-md-12">
                    <label class="form-label fw-semibold">
                         Email
                    </label>
                    <input type="text"
                           name="email"
                           class="form-control"
                           value="{{ curr_student.user.email }}"
                           required>
               </div>
          </div>

               
                <!-- butn -->
                <div class="d-flex justify-content-between mt-5 ">
                    <a href=""
                       class="btn btn-secondary">
                        Cancel
                    </a>

                    <button type="submit"
                            class="btn btn-success px-4">
                        Update
                    </button>
                </div> 
     </form>

        </div>
    </div>
</div>
{% endblock %}