
    <div class="row g-4 pt-2">

        <div class="col ">
            <div  class="card p-4 text-white shadow rounded-4 border-0" style="background: linear-gradient(135deg,#0582ca,#224abe);">
                <h5 class="text-uppercase">Total Applied Drives</h5>
                <h3 class="fw-bold">{{ total_applied }}</h3>
            </div>
        </div>

        <div class="col ">
            <div  class="card  p-4 text-white shadow rounded-4 border-0" style="background: linear-gradient(135deg,#0582ca,#224abe);">
                <h5 class="text-uppercase">Available Drives</h5>
                <h3 class="fw-bold">{{ available_drives|length }}</h3>
            </div>
        </div>

        <div class="col ">
            <div  class="card  p-4 text-white shadow rounded-4 border-0" style="background: linear-gradient(135deg,#0582ca,#224abe);">
                <h5 class="text-uppercase">Shortlisted</h5>
                <h3 class="fw-bold">{{ total_shortlist_dives }}</h3>
            </div>
        </div>

        <div class="col "  >
            <div  class="card  p-4 text-white shadow rounded-4 border-0" style="background: linear-gradient(135deg,#0582ca,#224abe);">
                <h5 class="text-uppercase">Selected</h5>
                <h3 class="fw-bold">{{ total_selected_dives }}</h3>
            </div>
        </div>

    </div>

  