{% block navbar %}
<nav class="bg-primary py-3 px-4 d-flex justify-content-between">
     <h2 class="fs-4 text-white">Placement portal</h2>
     

     {% if current_user.is_authenticated %}
     <div class="d-flex ">
          <!-- role == student -->
          {% if current_user.role=='student' %}
          
               <a href="{{ url_for('student.s_student') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/student/dashboard' %}active{% endif %}  ">
                  Dashboard
               </a>

               <a href="{{ url_for('student.explore') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/student/explore' %}active{% endif %}  ">
                  Explore drives
               </a>

               <a href="{{ url_for('student.application') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/student/application' %}active{% endif %}">
                  My Applications
               </a>

               <a href="{{ url_for('student.stu_profile', id=current_user.student.id) }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.endpoint == 'student.stu_profile' %}active{% endif %}  ">
                  Profile
               </a>



          {% endif %}

          <!-- company -->
          {% if current_user.role=='company' %}
          
               <a href="{{ url_for('company.c_company') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/company/dashboard' %}active{% endif %}  ">
                  Dashboard
               </a>

               <a href="{{ url_for('company.create_drive') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/company/create-drive' %}active{% endif %} ">
                  Create Drive
               </a>
               <a href="{{ url_for('company.placement_drive') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/company/placementdrive' %}active{% endif %} ">
                  Placement Drives
               </a>
               <a href="{{ url_for('company.com_profile', id=current_user.company.id) }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.endpoint == 'company.com_profile' %}active{% endif %} ">
                  Profile
               </a>

          {% endif %}

          <!-- admin -->
          {% if current_user.role=='admin' %}
          
               <a href="{{ url_for('admin.a_admin') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/admin/dashboard' %}active{% endif %}  ">
                  Dashboard
               </a>

               <a href="{{ url_for('admin.students') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/admin/students' %}active{% endif %}  ">
                  Students
               </a>
               <a href="{{ url_for('admin.companies') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/admin/companies' %}active{% endif %}  ">
                  Companies
               </a>
               <a href="{{ url_for('admin.drives') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/admin/drives' %}active{% endif %}  ">
                  Placement drives
               </a>
               <a href="{{ url_for('admin.applicants') }}" 
                  class="nav-btn btn-outline-light px-3 me-3 {% if request.path == '/admin/applicants' %}active{% endif %}  ">
                  Applications
               </a>

          {% endif %}

          <a href="{{ url_for('auth.logout') }}" class="btn btn-light px-3" >Log Out</a>
     </div>    
     
     
     {% else %}
     <div>
          <a href="{{ url_for('auth.login') }}" class="btn btn-light px-3">Login</a>
          <a href="{{ url_for('auth.register_student') }}" class="btn btn-secondary px-3">Register</a>
     </div>

     {% endif %}
</nav>
{% endblock %}