{% block navbar %}
<nav class="bg-primary py-3 px-4 d-flex justify-content-between">
     <h2 class="fs-4 text-white">Placement portal</h2>
     

     {% if current_user.is_authenticated %}
     <div class="d-flex ">
          <!-- role == student -->
          {% if current_user.role=='student' %}
          
               <a href="{{ url_for('student.s_student') }}" 
                  class="btn btn-outline-light px-3  me-3">
                  Dashboard
               </a>
               <a href="{{ 'student/my_application' }}" 
                  class="btn btn-outline-light px-3  me-3">
                  My Applications
               </a>

               <a href="{{ url_for('student.stu_profile', id=current_user.student.id) }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Profile
               </a>

               <a href="{{ url_for('student.stu_history', id=current_user.student.id) }}" 
                  class="btn btn-outline-light px-3 me-3">
                  history
               </a>

          {% endif %}

          <!-- company -->
          {% if current_user.role=='company' %}
          
               <a href="{{ url_for('company.c_company') }}" 
                  class="btn btn-outline-light px-3 me-3 ">
                  Dashboard
               </a>

               <a href="{{ url_for('company.create_drive') }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Create Drive
               </a>
               <a href="{{ url_for('company.placement_drive') }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Placement Drives
               </a>
               <a href="{{ url_for('company.com_profile', id=current_user.company.id) }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Profile
               </a>

          {% endif %}

          <!-- admin -->
          {% if current_user.role=='admin' %}
          
               <a href="{{ url_for('admin.a_admin') }}" 
                  class="btn btn-outline-light px-3 me-3 ">
                  Dashboard
               </a>

               <a href="{{ url_for('admin.students') }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Students
               </a>
               <a href="{{ url_for('admin.companies') }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Companies
               </a>
               <a href="{{ url_for('admin.drives') }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Placement drives
               </a>
               <a href="{{ url_for('admin.applicants') }}" 
                  class="btn btn-outline-light px-3 me-3">
                  Applications
               </a>

          {% endif %}

          <a href="{{ url_for('auth.logout') }}" class="btn btn-light px-3" >Log Out</a>
     </div>    
     
     
     {% else %}
     <div>
          <a href="{{ url_for('auth.login') }}" class="btn btn-light px-3">Login</a>
          <a href="{{ url_for('auth.register_student') }}" class="btn btn-secondary px-3">Register</a>
     </div>

     {% endif %}
</nav>
{% endblock %}