{% extends 'base.html' %}

{% block content %}

     <div class="text-center  mt-5">
          <h2 class="fs-1 fw-bold">Institute Placement Portal</h2>
          <p class="fs-5 fw-lighter">A centralized system to manage placement drives, student applications, and company recruitment processes efficiently.</p> 
     </div>


     <div class="d-flex justify-content-center gap-3 my-5">
     <!-- stats -->
     <div class="card text-bg-light shadow-sm border-0" style="width: 18rem;">
          <div class="card-body p-5">
          <h5 class="card-title fs-1 text-center">143</h5>
          <p class="text-center ">Students placed</p>
          </div>
     </div>
     <div class="card text-bg-light shadow-sm border-0" style="width: 18rem;">
          <div class="card-body p-5">
          <h5 class="card-title fs-1 text-center">36</h5>
          <p class="text-center ">Active companies</p>
          </div>
     </div>
     <div class="card text-bg-light shadow-sm border-0" style="width: 18rem;">
          <div class="card-body p-5">
          <h5 class="card-title fs-1 text-center">88</h5>
          <p class="text-center ">Drives this year</p>
          </div>
     </div>
     </div>

     {% include 'home/footer.html'   %}

</div>
{% endblock %}