
<div  class="mt-5 d-flex gap-5">

<!-- Application Status Breakdown -->

<div style="width: 450px; flex-shrink: 0;">
     <div class="card shadow rounded-4 border-0 h-100" >
          <div class="card-body">
               <div class="card-title fs-2" >Application Status Breakdown</div>
               <canvas id="applicationchart" width="300" height="300"></canvas>
          </div>
      </div>
</div>

<!-- Placement Drive Status -->
<div class="flex-grow-1">
     <div class="card shadow rounded-4 border-0 h-100" >
          <div class="card-body">
               <div class="card-title fs-2" >Placement Drive Status </div>
               <div style="height: 420px;">
               <canvas id="driveChart"></canvas>
               </div>
          </div>
      </div>
</div>


</div>

