{% extends 'base.html' %}

{% block content %}
<div class="p-5 bg-secondary bg-opacity-25 vh-100" >
      <a href="{{ url_for('company.c_company') }}"
               class="btn btn-secondary mb-3">
               Back
            </a>
      <h3>Applicants for {{ drive.job_title }}</h3>
     {% if drive.applications %}
     <table class="table table-bordered table-hover mt-3 ">
            <thead class="table-light">
                <tr>
                    <th>Id</th>   
                    <th>Name</th>
                    <th>roll_no</th>
                    <th>branch</th>
                    <th>CGPA</th>
                    <th>Status</th>
                    <th>Details</th>
               </tr>
            </thead>
            <tbody>
               {% for stu in drive.applications %}
               <tr>
                    <td>{{stu.student.id}}</td>
                    <td>{{stu.student.name}}</td>
                    <td>{{stu.student.roll_no}}</td>
                    <td>{{stu.student.branch}}</td>
                    <td>{{stu.student.cgpa}}</td>
                    <td>{{stu.status}}</td>
                    <td><a href="{{ url_for('company.application_detail', app_id=stu.id) }}"
                       class="btn btn-info">
                        Details
                    </a></td>
               </tr>
               {% endfor %}
            </tbody>
     </table>
     {% endif %}
    
</div>
{% endblock %}