{% extends 'base.html' %}

{% block content %}

<div class="p-4  bg-opacity-25 " >
     <div class="card shadow p-4 mt-3">
     <div class="d-flex justify-content-between">
          <h3>Students</h3>

          <form method="GET" action="{{ url_for('admin.students') }}" class="d-flex">
               <input type="text" name="search" placeholder="Search name or roll no" class="form-control me-2" value="{{ request.args.get('search','') }}">
               <button class="btn btn-primary">Search</button>
          </form>
          
     </div> 
     {% if students %}
     <table class="table table-bordered table-hover mt-3 ">
            <thead class="table-secondary">
                <tr>
                    <th>Id</th>   
                    <th>Name</th>
                    <th>roll_no</th>
                    <th>branch</th>
                    <th>CGPA</th>
                    <th>phone</th>
                    <th>Actions</th>
               </tr>
            </thead>
            <tbody>
               {% for stu in students %}
               <tr>
                    <td>{{stu.id}}</td>
                    <td>{{stu.name}}</td>
                    <td>{{stu.roll_no}}</td>
                    <td>{{stu.branch}}</td>
                    <td>{{stu.cgpa}}</td>
                    <td>{{stu.phone}}</td>

                    {% if stu.is_blacklisted != true %}   
                         <td><a href="{{ url_for('admin.deactivate_student', id=stu.id) }}"
                              class="btn btn-dark">
                         Blacklist
                         </a></td>
                    {% else %}
                         <td><a href="{{ url_for('admin.deactivate_student', id=stu.id) }}"
                              class="btn btn-success">
                         Whitelist
                         </a></td>
                         
                    {% endif %}


               </tr>
               {% endfor %}
            </tbody>
     </table>
     {% endif %}
    </div>
</div>
{% endblock %} 
